.header {
  position: relative;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  &__action {
    color: #DCDCDC;
    font-size: 18px;
    font-weight: 400;
  }

  &__close {
    position: absolute;
    right: 16px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 18px;
    }
  }

  &__menu {
    position: absolute;
    right: 16px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 40px;
    }
  }

  &__back {
    position: absolute;
    left: 16px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 24px;
    }
  }
}