.image-uploader {
  margin-bottom: 16px;

  input[type="file"] {
    display: none;
  }

  &-label {
    position: relative;
    width: 100%;
    border: 1px dotted #c4c4c4;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}