.login-form {
  width: 100%;
  max-width: 285px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &-password {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #8B8B8B;
    background: rgba(0, 0, 0, 0.62);
    margin-bottom: 16px;
  }

  &-submit {
    width: 100%;
    color: #353535;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: 1px solid #000;
    background: #DCDCDC;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}